.pagination {
    display: inline-block;
    margin: 25px 360px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin: 5px;
}

li button {
    outline: none;
    height: 25px;
    width: 25px;
    border: none;
    color: white;
    background-color: rgb(3, 7, 49);
    border-radius: 5px;
}

h4 {
    margin: 5px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}